---
---

<!DOCTYPE html5>
<script>
(function() {
var mapping = {
  '931456447':   '/post/2010/08/10/in-need-of-a-simple-web-server/',
  '936484335':   '/post/2010/08/11/get-my-coffee-compass-and-web-server-in-the-background-please/',
  '946701426':   '/post/2010/08/13/styling-xul-applications-like-web-pages/',
  '962830463':   '/post/2010/08/16/cygwin-coffeescript-growl-for-windows-integration/',
  '966860661':   '/post/2010/08/17/node-paperserve-quick-and-dirty-web-server-from-your-working-directory/',
  '1004704485':  '/post/2010/08/24/alternative-cygwin-terminal-shell/',
  '1010207199':  '/post/2010/08/25/building-and-using-node-js-on-windows-32-and-64-bit-through-cygwin/',
  '1027007406':  '/post/2010/08/29/cd-with-bookmarks-and-auto-completion-for-zsh/',
  '1104619682':  '/post/2010/09/11/mintty-at-your-fingertips/',
  '1319580433':  '/post/2010/10/15/git-on-red-hat-enterprise-linux-rhel-4-i386/',
  '1319772540':  '/post/2010/10/15/vim-7-on-red-hat-enterprise-linux-rhel/',
  '1490030701':  '/post/2010/11/05/extract-changed-files-from-git-and-prepare-a-deployment/',
  '2132544289':  '/post/2010/12/07/a-quick-and-dirty-way-to-use-namespaces-in-coffeescript/',

  '3465035915':  '/post/2011/02/23/yoke-a-drop-in-quick-and-dirty-alternative-to-sprockets/',
  '4659977659':  '/post/2011/04/16/compass-magick-tutorial-part-1/',
  '5040777009':  '/post/2011/04/29/compass-magick-tutorial-part-2/',
  '11431459380': '/post/2011/10/14/ubuntu-11-10-replace-the-default-and-annoying-orange-scheme/',

  '16404732719': '/post/2012/01/24/not-enough-random-bytes-available/',
  '16404872580': '/post/2012/01/24/pacman-syu-barfs-error-xyz-signature-is-unknown-trust/',
  '16880373225': '/post/2012/02/01/diffing-images-in-git/',
  '17155714352': '/post/2012/02/06/failed-globalmenu-gtk/',
  '21975837465': '/post/2012/04/28/ubuntu-12-04-precise-light-menus/',
  '25357377813': '/post/2012/06/18/ubuntu-12-04-precise-php-5-2/',
  '26091281290': '/post/2012/06/28/vim-plug-ins-roundup-tips-tricks/',
};
for (var id in mapping) {
  if ( ! Object.prototype.hasOwnProperty.call(mapping, id)) {
    continue;
  }
  if (~location.href.indexOf(id)) {
    location.replace(mapping[id]);
  }
}
})();
</script>
{% include top.html %}

  Whoops, no such page : (

{% include bottom.html %}
