<footer>
  <small>
    The posts and source code (Gists) in this blog, unless stated otherwise, are made available under the MIT License.<br>
    Icons by <a href="http://icons8.com/" rel="attribution">Icons8</a> &amp; <a href="http://gentleface.com/free_icon_set.html" rel="attribution">Gentlegace</a>.
  </small>
</footer>
</div>

<script src=//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js></script>
<script>window.jQuery || document.write('<script src="{{ site.base | replace:"'","\\'" }}/assets/scripts/vendor/jquery-1.7.2.min.js"><\/script>')</script>

<script>
var _gaq=[['_setAccount','{{ site.google.account | replace:"'","\\'" }}'],['_setDomainName', '{{ site.google.domain | replace:"'","\\'" }}'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script>
var _maq=[['account', 'angeloff'],['cookiesDomain', '.angeloff.name'],['trackPageView']];
(function(d,t){var e=d.createElement(t),s=d.getElementsByTagName(t)[0];
e.src='//clients.psp-group.co.uk/maxpipe/maxpipe.min.js';
s.parentNode.insertBefore(e,s)}(document,'script'));
</script>

</body>
</html>
