<html lang=en>
<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content=IE=edge,chrome=1>

  <title>{% if page.title %}{{ page.title | xml_escape }} &ndash; {% endif %}{{ site.title | xml_escape }}</title>

  <meta name=viewport content="width=device-width">

  <link rel=alternate type=application/rss+xml title=RSS href="{{ site.base | xml_escape }}/rss.xml">
  <link rel=icon href="{{ site.base | xml_escape }}/favicon.ico">

  <link rel=stylesheet href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
  <link rel=stylesheet href="{{ site.base | xml_escape }}/assets/styles/default.css">

  <script src="{{ site.base | xml_escape }}/assets/scripts/modernizr-2.6.2.min.js"></script>
</head>
<body>

<div id=page>

<header>
  <aside>
    <ul class="unstyled inline">
      <li><a href="https://github.com/StanAngeloff" rel="external"><img src="{{ site.base | xml_escape }}/assets/images/github.png" alt="GitHub" title="GitHub"></a></li>
      <li><a href="https://twitter.com/StanAngeloff" rel="external"><img src="{{ site.base | xml_escape }}/assets/images/twitter.png" alt="Twitter" title="Twitter"></a></li>
    </ul>
  </aside>

  <h1><a href="{{ site.base | xml_escape }}">{{ site.title | xml_escape }}</a></h1>
</header>
