<html lang=en>
<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content=IE=edge,chrome=1>

  <title>{% if page.title %}{{ page.title | xml_escape }} &ndash; {% endif %}{{ site.title | xml_escape }}</title>

  <meta name=viewport content="width=device-width">

  <link rel=alternate type=application/rss+xml title=RSS href="{{ site.base | xml_escape }}/rss.xml">
  <link rel=icon href="{{ site.base | xml_escape }}/favicon.ico">

  <link rel=stylesheet href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic">
  <link rel=stylesheet href="{{ site.base | xml_escape }}/assets/styles/default.css">

  <script src="{{ site.base | xml_escape }}/assets/scripts/vendor/modernizr-2.6.1.min.js"></script>
</head>
<body>

<div id=page>

<header>
  <a href="{{ site.base | xml_escape }}"><h1>{{ site.title | xml_escape }}</h1></a>
</header>
